<%= form_for [@univers, @event], :html => { :class => 'form-horizontal form-model', id: 'new_event_form' }, remote: true do |f| %>
  

<div id="placefield">
	<%= render 'place_fields'%> 
</div>

<%= link_to 'New Place', new_univers_place_path,id: 'new_place_link', remote: true%>



<div class="dayfield">
	<%= render 'day_field'%>
	</div>

<%= link_to 'New Day', new_univers_day_path,id: 'new_day_link', remote: true%>



<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %><br />
</div>



<div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'vex-dialog-button-primary vex-dialog-button vex-first' %>
		
		<%= link_to 'cancel', '#', :class => 'vex-dialog-button-secondary vex-dialog-button vex-last' %>
    </div>
  </div>


<% end %>





