<div class="filters_nav">
	<%= link_to "New Place", new_univers_event_path, id: 'new_place_link', remote: true %> <br/>



	
filtering years
<div class="button-group filters-button-group">
	 <button class="button is-checked" data-filter="*">show all</button>
	<% @events.each do |event| %>
	
	
	<% if event.nil?%>
	
	<button class="button" data-filter=".nocountry"> no country</button>
	
	<%else%>
	<button class="button" data-filter=".<%= event.day.date%>"> <%= event.day.date%></button>
	<%end%>
	
	
<%end%>
</div>
	
	
	
	filtering Countries
<div class="button-group filters-button-group">
	 <button class="button is-checked" data-filter="*">show all</button>
	<% @top_countries.each do |country| %>
	
	
	<% if country.nil?%>
	
	<button class="button" data-filter=".nocountry"> no country</button>
	
	<%else%>
	<button class="button" data-filter=".<%= country%>"> <%= country %></button>
	<%end%>
	
	
<%end%>
</div>
	
	
	
	
	
	
	
Sorting Countries

 <div class="button-group sort-place-by-button-group">
  <button class="button is-checked" data-sort-value="original-order">original order</button>
  <button class="button sorter" data-sort-value="name">name</button>
  <button class="button sorter" data-sort-value="symbol">symbol</button>
  <button class="button sorter" data-sort-value="number">number</button>
  <button class="button sorter" data-sort-value="event">events count</button>
  <button class="button sorter" data-sort-value="category">category</button>
</div>

</div>


	
	<div class="event-grid" id="event-grid">
	
		<% @events.each do |event| %>
	
		<%= render(event)%>
		
    <% end %>
  
	
	
	
</div>

