<%- model_class = Story -%>
<div class="page-header">
  <h1><%= link_to @univers.name,univers_path(@univers.id) %>'s Stories</h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.id %></td>
        <td><%= story.name %></td>
        <td><%=l story.created_at, format: :long %></td>
		  <td> <%= link_to "edit", edit_univers_story_path(@univers.id, story.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
	new_univers_story_path,
            :class => 'btn btn-primary' %>
