<%- model_class = Character -%>
<div class="page-header">
  <h1><%=t '.title', :default => Character %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:drive) %></th>
      <th><%= model_class.human_attribute_name(:wound) %></th>
      <th><%= model_class.human_attribute_name(:eyes_color) %></th>
      <th><%= model_class.human_attribute_name(:hair_color) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:race) %></th>
      <th><%= model_class.human_attribute_name(:sex) %></th>
      <th><%= model_class.human_attribute_name(:genetic_modification) %></th>
      <th><%= model_class.human_attribute_name(:social_class) %></th>
      <th><%= model_class.human_attribute_name(:sexual_orientation) %></th>
      <th><%= model_class.human_attribute_name(:genre) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.id %></td>
        <td><%= character.first_name %></td>
        <td><%= character.last_name %></td>
        <td><%= character.drive %></td>
        <td><%= character.wound %></td>
        <td><%= character.eyes_color %></td>
        <td><%= character.hair_color %></td>
        <td><%= character.height %></td>
        <td><%= character.weight %></td>
        <td><%= character.race %></td>
        <td><%= character.sex %></td>
        <td><%= character.genetic_modification %></td>
        <td><%= character.social_class %></td>
        <td><%= character.sexual_orientation %></td>
        <td><%= character.genre %></td>
        <td><%=l character.created_at, format: :long %></td>
        <td>
          <%= link_to character_path(character), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to character_path(character), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_character_path,
            :class => 'btn btn-primary' %>
