<%- model_class = Character -%>
<div class="page-header">
  <h1><%=t '.title', :default => Character %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:first_name) %></dt>
      <dd><pre class="prettyprint"><%= @character.first_name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:last_name) %></dt>
      <dd><pre class="prettyprint"><%= @character.last_name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:drive) %></dt>
      <dd><pre class="prettyprint"><%= @character.drive %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:wound) %></dt>
      <dd><pre class="prettyprint"><%= @character.wound %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:eyes_color) %></dt>
      <dd><pre class="prettyprint"><%= @character.eyes_color %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:hair_color) %></dt>
      <dd><pre class="prettyprint"><%= @character.hair_color %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:height) %></dt>
      <dd><pre class="prettyprint"><%= @character.height %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:weight) %></dt>
      <dd><pre class="prettyprint"><%= @character.weight %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:race) %></dt>
      <dd><pre class="prettyprint"><%= @character.race %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:sex) %></dt>
      <dd><pre class="prettyprint"><%= @character.sex %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:genetic_modification) %></dt>
      <dd><pre class="prettyprint"><%= @character.genetic_modification %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:social_class) %></dt>
      <dd><pre class="prettyprint"><%= @character.social_class %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:sexual_orientation) %></dt>
      <dd><pre class="prettyprint"><%= @character.sexual_orientation %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:genre) %></dt>
      <dd><pre class="prettyprint"><%= @character.genre %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
univers_characters_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
edit_univers_character_path(@univers.id, @character), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
univers_character_path(@univers.id,@character),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

