<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @character.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @character.last_name %>
</p>

<p>
  <strong>Drive:</strong>
  <%= @character.drive %>
</p>

<p>
  <strong>Wound:</strong>
  <%= @character.wound %>
</p>

<p>
  <strong>Eyes color:</strong>
  <%= @character.eyes_color %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @character.hair_color %>
</p>

<p>
  <strong>Height:</strong>
  <%= @character.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @character.weight %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @character.sex %>
</p>

<p>
  <strong>Genetic modification:</strong>
  <%= @character.genetic_modification %>
</p>

<p>
  <strong>Social class:</strong>
  <%= @character.social_class %>
</p>

<p>
  <strong>Sexual orientation:</strong>
  <%= @character.sexual_orientation %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @character.genre %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
