<%= link_to univers_place_path(@univers, place.id) do %>
  
		<%if place.country_name.nil?%>
	
<div class="card col3 nocountry" id="<%= 'place_'+place.id.to_s%>" data-category="">
			
			<%else%>
			<div class="card col3 <%= place.country_name.delete(' '+','+"'"+"("+")"+".")%>", id="<%= 'place_'+place.id.to_s%>" data-category="">
			<%end%>
			
		<div class="top-box">
			<b class="name"> <%= place.name %> </b>
			<div class="event">
				<% if place.events.count == 0 %> 
				<div class="invisible"> <%= place.events.count%></div>
				<%else%>
					<%= place.events.count%>
				<% end%>
		</div>
			</div>
		<div class="middle-box">
		in 
			<%= unless place.city.blank?
            "#{place.city}," end%>
			
			<%= place.country_name%>
			
			
		</div>
	
		<div class="bottom-box">		
			<%= link_to "EDIT", edit_univers_place_path(@univers.id, place),remote: true%>
			<%= link_to "remove", univers_place_path(@univers.id,place), :method => :delete,remote: true, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs' %>
			</div>
</div>
		<% end %>