<div class="filters_nav">
	<%= link_to "New Place", new_univers_place_path, id: 'new_place_link',remote: true %> <br/>
	<%= link_to 'New Day', new_univers_day_path,id: 'new_day_link', remote: true%>


	
filtering Countries
<div class="button-group filters-button-group">
	 <button class="button is-checked" data-filter="*">show all</button>
	<% @top_countries_name.each do |c| %>
	
	
	<% if c.nil?%>
	
	<button class="button" data-filter=".nocountry"> no country</button>
	
	<%else%>
	<button class="button" data-filter=".<%= c.delete(' '+','+"'"+"("+")"+".")%>"> <%= c%></button>
	<%end%>
	
	
<%end%>
</div>
Sorting Countries

 <div class="button-group sort-place-by-button-group">
  <button class="button is-checked" data-sort-value="original-order">original order</button>
  <button class="button sorter" data-sort-value="name">name</button>
  <button class="button sorter" data-sort-value="symbol">symbol</button>
  <button class="button sorter" data-sort-value="number">number</button>
  <button class="button sorter" data-sort-value="event">events count</button>
  <button class="button sorter" data-sort-value="category">category</button>
</div>

</div>


	
	<div class="place-grid" id="place-grid">
	
    <% @places.each do |place| %>
	
		<%= render(place)%>
		
    <% end %>
  
	
	
	
</div>




